<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document File Edit</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
      <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main class="main-content">
      <!-- Navbar -->
      <%- include ('partials/navbar.ejs') %>
    <!-- Breadcrumb -->
    <div>
      <nav aria-label="breadcrumb">
        <ol class="px-4 breadcrumb c-pri-bg rounded-bottom">
          <li class="breadcrumb-item"><a class="white-txt"
              href="/">Home</a></li>
          <li class="breadcrumb-item"><a class="white-txt"
              href="/Document">Documents</a></li>
          <li class="breadcrumb-item"><a class="white-txt"
            href="/Document/<%=files[0].folderId%>"><%=files[0].folderName%></a></li>
          <li class="breadcrumb-item white-txt" aria-current="page">Edit</li>
        </ol>
      </nav>
    </div>
      <!-- Main -->
      <section>
        <div class="container-fluid px-4 my-1">
          <h2 class="mb-3"><svg class="svg-icon" viewBox="0 0 20 20">
              <path
                d="M15.475,6.692l-4.084-4.083C11.32,2.538,11.223,2.5,11.125,2.5h-6c-0.413,0-0.75,0.337-0.75,0.75v13.5c0,0.412,0.337,0.75,0.75,0.75h9.75c0.412,0,0.75-0.338,0.75-0.75V6.94C15.609,6.839,15.554,6.771,15.475,6.692 M11.5,3.779l2.843,2.846H11.5V3.779z M14.875,16.75h-9.75V3.25h5.625V7c0,0.206,0.168,0.375,0.375,0.375h3.75V16.75z"></path>
            </svg><%=files[0].folderName%></h2>
          <form action="/Document/<%=files[0].folderId%>/Edit" method="POST" enctype="multipart/form-data">
            <table class="table table-hover">
              <p class="small text-muted">* Do not remove the file name extension</p>
              <tr>
                <th width="50%">Name</th><th>Size</th><th>Type</th><th></th><th></th>
              </tr>
              <% if (files[0].id !== null) { %>
                <% for (let i=0; i<files.length; i++) { %>
                  <tr>
                    <td><input type="text" class="form-control" id="doc-file-e-1"
                        placeholder="File Name*"
                        value="<%=files[i].name%>" name="name<%=files[i].id%>" required></td><td><%=(files[i].size/1000000).toFixed(2)%> MB</td><td><%=files[i].type%></td>
                    <td><a href="/Document/<%=files[i].folderId%>/<%=files[i].id%>/Delete" type="button" class="btn btn-danger"><svg
                          class="svg-icon programme-d" viewBox="0 0 20 20"><path
                            d="M17.114,3.923h-4.589V2.427c0-0.252-0.207-0.459-0.46-0.459H7.935c-0.252,0-0.459,0.207-0.459,0.459v1.496h-4.59c-0.252,0-0.459,0.205-0.459,0.459c0,0.252,0.207,0.459,0.459,0.459h1.51v12.732c0,0.252,0.207,0.459,0.459,0.459h10.29c0.254,0,0.459-0.207,0.459-0.459V4.841h1.511c0.252,0,0.459-0.207,0.459-0.459C17.573,4.127,17.366,3.923,17.114,3.923M8.394,2.886h3.214v0.918H8.394V2.886z M14.686,17.114H5.314V4.841h9.372V17.114z M12.525,7.306v7.344c0,0.252-0.207,0.459-0.46,0.459s-0.458-0.207-0.458-0.459V7.306c0-0.254,0.205-0.459,0.458-0.459S12.525,7.051,12.525,7.306M8.394,7.306v7.344c0,0.252-0.207,0.459-0.459,0.459s-0.459-0.207-0.459-0.459V7.306c0-0.254,0.207-0.459,0.459-0.459S8.394,7.051,8.394,7.306"></path></svg></a></td>
                  </tr>
                <% } %>
              <% } %>
            <tr>
              <td colspan="1"><input type="file" class="form-control"
                  id="upload-doc-file-e" name="fileUpload"></td><td colspan="3"></td>
            </tr>
          </table>
          <!-- Save changes -->
          <button type="submit" class="btn btn-success">Save Changes</button>
        </form>
      </section>
    </main>
    <footer>
        <%- include ('partials/footer.ejs') %>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
  </body>
</html>