<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orientation</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <main class="main-content">
      <!-- Navbar -->
      <%- include ('partials/navbar.ejs') %>
      <!-- Breadcrumb -->
      <div>
        <nav aria-label="breadcrumb">
          <ol class="px-4 breadcrumb c-pri-bg rounded-bottom">
            <li class="breadcrumb-item"><a class="white-txt"
                href="/">Home</a></li>
            <li class="breadcrumb-item"><a class="white-txt"
                href="/ProgrammeCategory">Programme Category</a></li>
            <li class="breadcrumb-item white-txt"
              aria-current="page"><%=relatedProgrammes[0].PTN%></li>
          </ol>
        </nav>
      </div>
      <!-- Main -->
      <section>
        <div class="container-fluid px-4 my-1">
          <h2 class="mb-3"><svg class="svg-icon" viewBox="0 0 20 20">
              <path
                d="M8.627,7.885C8.499,8.388,7.873,8.101,8.13,8.177L4.12,7.143c-0.218-0.057-0.351-0.28-0.293-0.498c0.057-0.218,0.279-0.351,0.497-0.294l4.011,1.037C8.552,7.444,8.685,7.667,8.627,7.885 M8.334,10.123L4.323,9.086C4.105,9.031,3.883,9.162,3.826,9.38C3.769,9.598,3.901,9.82,4.12,9.877l4.01,1.037c-0.262-0.062,0.373,0.192,0.497-0.294C8.685,10.401,8.552,10.18,8.334,10.123 M7.131,12.507L4.323,11.78c-0.218-0.057-0.44,0.076-0.497,0.295c-0.057,0.218,0.075,0.439,0.293,0.495l2.809,0.726c-0.265-0.062,0.37,0.193,0.495-0.293C7.48,12.784,7.35,12.562,7.131,12.507M18.159,3.677v10.701c0,0.186-0.126,0.348-0.306,0.393l-7.755,1.948c-0.07,0.016-0.134,0.016-0.204,0l-7.748-1.948c-0.179-0.045-0.306-0.207-0.306-0.393V3.677c0-0.267,0.249-0.461,0.509-0.396l7.646,1.921l7.654-1.921C17.91,3.216,18.159,3.41,18.159,3.677 M9.589,5.939L2.656,4.203v9.857l6.933,1.737V5.939z M17.344,4.203l-6.939,1.736v9.859l6.939-1.737V4.203z M16.168,6.645c-0.058-0.218-0.279-0.351-0.498-0.294l-4.011,1.037c-0.218,0.057-0.351,0.28-0.293,0.498c0.128,0.503,0.755,0.216,0.498,0.292l4.009-1.034C16.092,7.085,16.225,6.863,16.168,6.645 M16.168,9.38c-0.058-0.218-0.279-0.349-0.498-0.294l-4.011,1.036c-0.218,0.057-0.351,0.279-0.293,0.498c0.124,0.486,0.759,0.232,0.498,0.294l4.009-1.037C16.092,9.82,16.225,9.598,16.168,9.38 M14.963,12.385c-0.055-0.219-0.276-0.35-0.495-0.294l-2.809,0.726c-0.218,0.056-0.351,0.279-0.293,0.496c0.127,0.506,0.755,0.218,0.498,0.293l2.807-0.723C14.89,12.825,15.021,12.603,14.963,12.385"></path>
            </svg><%=relatedProgrammes[0].PTN%></h2>
          <% if (relatedProgrammes[0].PID === null) { %> <div class="mx-3 text-center my-5 border rounded py-5 lead shadow-sm" style="min-height: 55vh;">No Item To Display</div> <% } else { %>
            <% let k=0; let num=relatedProgrammes.length %>
            <% for (let i=0; i<Math.ceil(relatedProgrammes.length/3); i++) { %>
              <div class="row mb-4 mx-auto">
                <% for (let j=0; j<3; j++) { %>
                  <% if (k+1===relatedProgrammes.length && relatedProgrammes.length%3 === 2 && relatedProgrammes.length > 3) { %>
                    <div class="col-sm-8 mb-3 mb-lg-0">
                      <a href="/ProgrammeCategory/<%=relatedProgrammes[k].PTID%>/<%=relatedProgrammes[k].PID%>"
                        class="btn btn-dark p-2 w-100 h-100 shadow-sm"><h5
                          class="card-title"><%=relatedProgrammes[k].PN%></h5></a>
                    </div>
                    <% } else if (k+1===relatedProgrammes.length && relatedProgrammes.length%3 === 1 && relatedProgrammes.length > 3) { %>
                      <div class="col-sm-12 mb-3 mb-lg-0">
                        <a href="/ProgrammeCategory/<%=relatedProgrammes[k].PTID%>/<%=relatedProgrammes[k].PID%>"
                          class="btn btn-dark p-2 w-100 h-100 shadow-sm"><h5
                            class="card-title"><%=relatedProgrammes[k].PN%></h5></a>
                      </div>
                      <% } else { %>
                        <div class="col-sm-4 mb-3 mb-lg-0">
                          <a href="/ProgrammeCategory/<%=relatedProgrammes[k].PTID%>/<%=relatedProgrammes[k].PID%>"
                            class="btn btn-dark p-2 w-100 h-100 shadow-sm"><h5
                              class="card-title"><%=relatedProgrammes[k].PN%></h5></a>
                        </div>
                        <% } %>
                        <% if (k+1 === num) {break} %>
                      <% k++; %>
                    <% } %>
              </div>
              <% } %>
          <% } %>
          <!-- Add Subprogramme button -->
          <div class="row mx-auto">
            <div class="col-sm-6 mt-3">
              <button class="btn btn-dark" data-bs-toggle="modal"
                data-bs-target="#add-subprogramme-modal">+</button>
            </div>
          </div>
        </div>
      </section>
      <!-- Add new Subprogramme Modal -->
      <div class="modal fade" id="add-subprogramme-modal" tabindex="-1"
        aria-labelledby="add-subprogramme-modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content text-bg-dark border">
            <form action="/ProgrammeCategory/<%=relatedProgrammes[0].PTID%>/Add" method="POST">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="add-subprogramme-modal">Add New
                  Programme</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="p-3">
                  <h4>Programe #<%=relatedProgrammes.length+1%></h4>
                  <div class="mb-3">
                    <label for="subprogramme-no-a-name"
                      class="form-label">Name</label>
                    <input type="text" class="form-control"
                      id="subprogramme-no-a-name"
                      placeholder="Team Introduction" name="newName"
                      required>
                  </div>
                  <div class="mb-3">
                    <label for="subprogramme-no-a-hr"
                      class="form-label">Duration
                      (Hours)</label>
                    <input type="number" class="form-control"
                      id="subprogramme-no-a-hr" placeholder="10" name="newDuration" required>
                  </div>
                  <div class="mb-3">
                    <label for="subprogramme-lead"
                      class="form-label">Programme Lead</label>
                      <select class="form-select" aria-label="subprogramme-lead" id="subprogramme-lead" name="newLead" required>
                        <option value="" selected>Select Programme Lead</option>
                        <% for (let i=0; i<employees.length; i++) { %>
                          <option value="<%=employees[i].id%>"><%=employees[i].name%></option>
                        <% } %>
                      </select>
                  </div>
                  <div class="mb-3">
                    <label for="subprogramme-lessons"
                      class="form-label">No. of Lessons</label>
                    <input type="number" class="form-control"
                      id="subprogramme-lessons" placeholder="5" name="newLessons" required>
                  </div>
                </div>
              </div>
              <!-- Modal Buttons -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                  data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <footer>
        <%- include ('partials/footer.ejs') %>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
  </body>
</html>